<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Flight</title>
    <!-- Bootstrap CSS -->
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center">Edit Flight</h2>

    <%= form_tag flight_path(@flight), method: :patch, class: 'form-horizontal' do %>
        <div class="mt-5 form-group row">
            <%= label_tag :flight_name, "FLIGHT NAME :", class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
                <%= text_field_tag :flight_name, @flight.flight_name, class: "form-control", id: "flight_name", placeholder: "Flight Name" %>
            </div>
        </div>
        <div class="form-group row">
            <%= label_tag :flight_type, "FLIGHT TYPE :", class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
                <%= text_field_tag :flight_type, @flight.flight_type, class: "form-control", id: "flight_type", placeholder: "Flight Type" %>
            </div>
        </div>
        <div class="form-group row">
            <%= label_tag :flight_departure, "DEPARTURE :", class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
                <%= text_field_tag :start, @flight.start, class: "form-control", id: "flight_departure", placeholder: "Departure" %>
            </div>
        </div>
        <div class="form-group row">
            <%= label_tag :flight_destination, "DESTINATION :", class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
                <%= text_field_tag :destination, @flight.destination, class: "form-control", id: "flight_destination", placeholder: "Destination" %>
            </div>
        </div>
        <div class="form-group row">
            <%= label_tag :flight_time, "DEPARTURE TIME :", class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
                <%= text_field_tag :departure_time, @flight.departure_time.strftime("%I:%M %p"), class: "form-control", id: "flight_time", placeholder: "Departure Time" %>
            </div>
        </div>
        <div class="form-group row">
            <%= label_tag :flight_ticket_price, "TICKET PRICE :", class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
                <%= number_field_tag :total_price, @flight.total_price, class: "form-control", id: "flight_ticket_price", placeholder: "Ticket Price" %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <%= submit_tag 'Update', class: 'btn btn-primary' %>
                <%= link_to 'Cancel', show_index_path, class: 'btn btn-secondary' %>
            </div>
        </div>
    <% end %>

</div>

</body>
</html>
